body {
    font-family:'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8CC461;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    gap: 40px;
}

header {
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #FFFFFF;
    text-align: left;
    font-size: 33px;
    padding: 8px;
    font-weight: bold;
    line-height: 1;
    font-family:'Roboto', sans-serif;
}

.scores {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.score {
    background-color: #FFF;
    height: 90px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.score h2 {
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align:center;
    color: #656565;
    margin: 2px;
}

.score p {
    font-size: 45px;
    font-family:'Roboto', sans-serif;
    margin:0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.game-buttons {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 0;
}

.rock {
    background-image: url('rock.png');
    background-size: 75px;
    border: 9px solid #0074B6;
}
#rock{
    top: 0;
    left: 0;
    z-index: 1;
}

.scissors {
    background-image: url('scissors.png');
    background-size: 45px;
    border: 9px solid #BD00FF;
}
#scissors{
    top: 0;
    right: 0;
    z-index: 2;
}

.paper {
    background-image: url('paper.png');
    background-size: 75px;
    border: 9px solid #FFA943;
}
#paper{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.line {
    position: absolute;
    width: 8px;
    background-color: black;
    opacity: 0.8;
}

.line-rock-paper {
    height: 63%;
    top: 19%;
    left: 35%;
    transform: rotate(155deg) ;
}

.line-paper-scissors {
    height: 55%;
    top: -5%;
    left: 50%;
    transform: rotate(90deg);
}

.line-rock-scissors {
    height: 63%;
    top: 20%;
    right: 35%;
    transform: rotate(-155deg);
}

.game-rules {
    background-color: #004429;
    border: 7px solid #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    max-width: 250px;
    color: #FFFFFF;
    height: 300px;
    position: absolute;
    right: 50px;
    bottom: 80px;
    display: none;
}

ul.list li {
    position: relative;
    margin: 0px 0px 10px 0px;
    list-style: none;
}

ul.list li:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color:#FFD600;
}

.game-rules h2 {
    margin-top: 0;
}

.game-rules ul {
    padding-left: 20px;
}

.close-rules {
    position: absolute;
    top: -25px;
    right: -25px;
    background-color:#FF0000;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

button.rules {
    margin-top: 10px;
}

.rules{
    position: absolute;
    bottom: 10px;
    right: 50px;
    display: flex;
    gap: 10px;
}

.btn{
    border: 2px solid #D9D9D9;
    background-color: #8CC461;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    width: 70px;
}
.next{
    display: none;
}
.choices{
    width:700px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
#win{
    box-shadow: 0 0 0 20px rgba(59, 103, 32, 1),0 0 0 35px rgba(29, 168, 43, 0.79),0 0 0 48px rgba(46, 154, 37, 0.39);
}

.choices p{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 8px;
}
.result{
    /* background-color: #004429; */
    text-align: center;
    padding: 60px;
    color: #FFFFFF;
    font-size: 19px;
    font-family: Roboto;
    line-height: 25px;
}
.play-again{
    background-color: #FFFFFF;
    color: #6B6B6B;
    border: 0;
    border-radius: 5px;
    width: 130px;
    height: 32px;
    cursor: pointer;
}
.result-board{
    display: none;
}

.win-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 90px;
}
.content {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.star{
    position: absolute;
    bottom: 250px;
    left: 420px;
}
.trophy {
    margin-bottom: 20px;
    position: relative;
}

#hurray{
    font-family: Roboto;
font-size: 50px;
font-weight: 600;
text-align: center;
color: #FFFFFF;
}
#you_won{
    font-family: Roboto;
font-size: 27px;
font-weight: 600;
text-align: center;
color: #FFFFFF;
}